
* {
    box-sizing: border-box;
  }
  
  body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: $primary-font;
    line-height: 1.5;
  }
  
  // headings
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 400;
  
    &.lg-heading {
      font-size: 5rem;
    }
  
    &.sm-heading {
      width: 460px;
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color, 2), 0.5);
    }
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .text-secondary {
    color: $secondary-color;
    font-family: $secondary-font;
  }

  img {
    width: 100%;
  }